.main_companies {
  width: 100%;
  height: 100vh;

  .companies_container{
    padding: 50px;

    .item_table {
      margin-top: 15px;
    }

    .item_search {
      margin-top: 24px;
      display: flex;
      flex-direction: row;
    }

    .container_item__header {

      h3 {
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 27px;
      }
    }
  }
}