.item_sortedButtonJobs {
  padding: 7px;
  background: #ffffff;
  border-radius: 28px;
  color:#78849B;
  margin-left: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid #E8EFFA;
  
  img {
    margin: 10px;
  }
}