.main_badge {
  display: flex;
  flex-direction: row;

  .MuiBadge-anchorOriginTopRightRectangle {
    transform: scale(1) translate(121%, -8%);
  }

  div {
    padding: 0px 15px 30px 30px;

    span {
      color: #78849B;
    }

    span + span {
      background-color: #E8EFFA;
      color: black;
      padding: 3px 7px;
      border-radius: 12px;
      margin: 10px;
    }

    .focus {
      background-color: #FFB002 !important;
      color: #ffffff !important;
    }

    .focus_text {
      color: black;
    }
  }
}

.focus_badge {
  border-bottom: solid 3px #FFB002;
}