.item_search {

  .MuiPaper-rounded {
    border-radius: 28px;
  }

  .makeStyles-root {
    width: 280px;
  }

  .MuiIconButton-root {
    color: black; 
  }

  .MuiInputBase-input {
    color: #78849B;
  }
}